.btnStyle {
    background-color: #c1e09f;
    border: none;
    color: #47433b;
    padding: 15px 40px;
    font-size: 1rem;
    
    &:hover {
        background-color: #abc78c;
        color: #47433b;
    }

    & svg {
        fill: #47433b
    }
}
