@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.splash {
  height: 100%;
  width: 100%;
  background-image: url("../images/car.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
