.bgImage {
    background-image: url("../../../images/login.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  
  .bigText {
    font-size: 2.1rem;
    font-weight: 500;
  }
  
  .lightBlueColor {
    color: #41c5e7;
  }
  
  .darkBlueColor {
    color: #1a4a7a;
  }
  